@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    font-size: 18px;
    background-color: #5B8266;
}

header  {
    position: relative;
    top: 0;
    text-align: center;
    background-color: #3E6259;
    padding: 10px;
    transition: .3s ease;
}

header a {
    transition: .3s ease;
}

header a:hover {
    text-decoration: none;
    padding: 5px;
    transition: .3s ease;
    content: "as";
}

main {
    margin: 20px;
}

main h1 {
    font-weight: 200;
}

main form p {
    margin-top: 20px;
}

main form input {
    border: 1px solid white;
    padding: 3px;
    color: #3E6259;
}

main form button {
    background-color: #3E6259;
    border: 1px solid white;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    transition: .3s ease;
}

main form button:hover{
    background-color: rgb(76, 104, 97);
    border: 1px solid transparent;
    transition: .3s ease;
    cursor: pointer;
}

footer  {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #3E6259;
    padding: 10px;
}